extends ./layout/index

block contenido
   

    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas pharetra turpis in mattis. Ut eu lacus et nunc consectetur tristique. 

                p Quisque suscipit, orci a sollicitudin tincidunt, libero nibh cursus urna, nec bibendum lorem mauris id orci. In hac                 habitasse platea dictumst. 

                p Nulla neque lorem, fringilla lacinia semper eu, placerat id eros. Morbi cursus pharetra nisi, id pellentesque enim              suscipit vel. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nulla neque lorem, fringilla lacinia semper eu, placerat id eros. Morbi cursus pharetra nisi, id  pellentesque enim suscipit. 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Nulla neque lorem, fringilla lacinia semper eu, placerat id eros. Morbi cursus pharetra nisi, id  pellentesque enim suscipit. 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Nulla neque lorem, fringilla lacinia semper eu, placerat id eros. Morbi cursus pharetra nisi, id  pellentesque enim suscipit. 